/* 商城客户 */
.client{ overflow: hidden; margin: .5rem .25rem;}
.client a{ width: 20.5%; float: left; margin-right: 6%; text-align: center; font-size: .8rem;}
.client a img{ border-radius: 50%; }
.client a:nth-of-type(4){ margin-right: 0; }